<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1>单文件上传实例</h1>
<p>
  存在百度网盘access token？<span th:text="${existAccessToken}"></span>
  &nbsp;&nbsp;<a target="_blank" th:href="${baiduAuthUrl}" th:if="${existAccessToken} == false">去授权</a>
</p>
注：限上传jpg/png/mp4(100M内)<br/>
<!--https://frontbackend.com/thymeleaf/how-to-get-context-path-in-thymeleaf-->
<form method="POST" th:action="@{/upload}" enctype="multipart/form-data">
  <input type="file" name="file" /><br/>
  <input type="text" size="50" name="fileName" placeholder="可指定文件名，含后缀，可替换远程文件"/><br/>
  <input type="text" value="tycit" name="password" placeholder="校验密码"/><br/><br/>
  <input type="submit" value="Submit" />
</form>

</body>
</html>